* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Playfair Display', serif;
}

body {
   background-color: #91A5A1;
   background-image: radial-gradient(#5E6E54 1px, transparent 1px);
   background-size: 60px 60px;
}

.titleContainer {
   padding: 150px 150px 0px 150px;
   text-align: center;
}

.titleContainer h1{
   font-size: 60px;
   padding-bottom: 50px;
   color: white;
}

.titleContainer p {
   font-size: 25px;
}

.cardContainer {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 40px 0px;
}

.card {
   position: relative;
   margin: 25px;
   width: 400px;
   height: 300px;
   border-radius: 10px;
   box-shadow: 0px 15px 35px rgba(0,0,0,0.5);
   display: block;
   justify-content: space-around;
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 1.25em;
   background: rgba(255, 255, 255, 0.05);
   transition: 0.5s;
}

.card img {
   height: 80%;
   width: 100%;
   border-radius: 10px;
   padding-bottom: 15px;
   image-rendering: pixelated;
}

.card:hover {
   transform: translateY(-20px);
   border: 0.25px solid black;
}

footer {
   background: #81abbc;
   color: white;
   height: 100%;
   width: 100%;
   padding: 100px;
}

footer h3, p {
   font-size: 1.25em;
   padding-bottom: 25px;
}

.row {
   display: flex;
}

.column {
   flex: 50%;
   height: 350px;
}

footer a {
   text-decoration: none;
   color: inherit;
   font-size: 1.25em;
}

hr {
   margin: 0px 0px 25px 0px;
   height: 2px;
   background-color: #5e6e54;
   border: none;
}

/*Navigation Menu*/

nav {
   position: absolute;
   width: 300px;
   background: #ffffff;
   color: rgba(0, 0, 0, 0.87);
   -webkit-clip-path: circle(24px at 30px 24px);
   clip-path: circle(24px at 32px 24px);
   -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
   transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
   -webkit-transition-duration: 0.75s;
   transition-duration: 0.75s;
   -webkit-clip-path: circle(390px at 225px 24px);
   clip-path: circle(390px at 150px 24px);
}

nav a {
   display: block;
   line-height: 50px;
   padding: 0 20px;
   text-decoration: none;
   font-size: 20px;
   color: inherit;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

nav a:hover {
   background: #81abbc;
}

nav a:active {
   background: #70a0b3;
}

.navicon {
   padding: 23px 20px;
   cursor: pointer;
   -webkit-transform-origin: 32px 24px;
   -ms-transform-origin: 32px 24px;
   transform-origin: 32px 24px;
}

.navicon div {
   position: relative;
   width: 20px;
   height: 2px;
   background: rgba(0, 0, 0, 0.87);
}

.navicon div:before, .navicon div:after {
   display: block;
   content: "";
   width: 20px;
   height: 2px;
   background: rgba(0, 0, 0, 0.87);
   position: absolute;
}

.navicon div:before {
   top: -7px;
}

.navicon div:after {
   top: 7px;
}
